* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../img/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#topo {
    height: 150px;
    background: url(../img/detalhe-topo.png) no-repeat top right;
    padding-top: 25px;
}

.logo {
    width: 152px;
    height: 66px;
    background: url(../img/logo.png) no-repeat center;
    text-indent: -3000px;
}